:root {
    --fuentePrincipal : 'PT Sans', sans-serif;
    --fuenteEnlaces : 'Open Sans', sans-serif;

    --colorNav : #F1E228;
    --colorFondo: #F5F5F5;
    --colorPrincipal: #F1E228;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;/* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.carousel-caption h1 {
    display: inline;
    font-size: 4rem;
    font-family: var(--fuenteEnlaces);
    border-radius: 1.5rem;
    padding: 0 2rem;

}

.carousel-caption p {
    display: block;
    padding-bottom: 4rem;
    font-size: 2rem;
    border-radius: 20rem;
    
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}

/* Preheader */

.contenedor-preheader {
    background-color: var(--colorNav);
    padding: 2px;

}

.nav-preheader {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .nav-preheader {
        justify-content: end;
        flex-wrap: wrap;
        
    }

    .enlace-preheader {
        margin-right: 40px;
    }

    .enlace-preheader:last-child{
        margin-right: 7.5%;
    }
}

.enlace-preheader {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

/* Header */
.contenedor {
    padding-top: 2rem;
    text-align: center;
    background-color: black;
    padding-bottom: 2rem;
}

.navegacion {
    margin-top: 1rem;
}

.navegacion-enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    font-family: var(--fuenteEnlaces);
    font-weight: bold;
    padding-bottom: 1rem;
}

.navegacion-enlace:hover {
    color: var(--colorNav);
}

@media (min-width: 768px) {
    .navegacion-enlace {
        padding-right: 4rem;
        padding-bottom: 0;
    }
}

@media (min-width: 768px) {
    .contenedor {
        padding-left: 10rem;
    }
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        padding-right: 10rem;
        margin-top: 4rem;
    }
}

@media (min-width: 768px) {
    .contenedor {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Main */
.titulo-contenido {
    text-align: center;
    margin: 6rem 0 2rem 0;
    text-transform: uppercase;
    font-family: var(--fuenteEnlaces);
    font-weight: bold;
}

.redimensionar {
    height: 30rem;
}

.slogan {
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    margin-top: 5%;
}

.boton--primario {
    background-color: black;
    color: white;
    border-radius: 5rem;
    padding: 1rem 3rem;
}

.boton--primario:hover {
    color: var(--colorNav);
}

/* Productos */

.productos {
    margin-top: 4rem;
    text-align: center;
    font-family: var(--fuenteEnlaces);
}

.cableaux a {
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;
}

.mi-card {
    width: 20rem;
    border: 1px solid #EEEEEE;
    background-color: white;
    margin: 5px;
    border-radius: 5%;
    padding: 10px;
}

.mi-card-marca {
    font-size: 15px;
    color: gray;
}

.mi-card-np {
    font-weight: bold;
    font-size: 15px;
}

.mi-card-precio {
    font-weight: bold;
    font-size: 14px;
}

.mi-card-container{
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
}

.mi-card-btn-container{
    text-align: center;
}

.mi-card-btn{
    border: 1px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    display: block;

}
.mi-card-btn:hover{
    text-decoration: none;
    color: var(--colorPrincipal);
}

.carousel-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: black;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 10px;
    background-color: var(--colorPrincipal);
}

/* Cable Aux */
.nombre-cable {
    text-align: center;
    margin: 4rem 0 0 0;
    font-weight: bold;
}

.col h2  {
    font-size: 3rem;

}

.col .precio-producto  {
    font-size: 2rem;
}

.col .descripcion-producto {
    font-size: 2rem;
    background-color: #EEEEEE;
}

.separador {
    margin-bottom: 4rem;
}

.img-p-cableaux {
    height: 30rem;
}


/* Cable Inst */
.img-p-cableinst {
    height: 30rem;
}

/* Cable Inst Mono */

.img-p-cableinstmono {
    height: 30rem;
}

/* Cable Mic */

.img-p-cablemic {
    height: 30rem;
}

/* Cable Stereo */

.img-p-cablestr {
    height: 30rem;
}

/* Cable Tatuador */

.img-p-cabletatuador {
    height: 30rem;
}

/* Cable Canon Plug */

.img-p-canonplug {
    height: 30rem;
}

/* Sobre Nosotros */
.contenedor-sobrenosotros {
    display: flex;
}

.imagen-sobrenosotros {
    width: 60rem;
    margin-left: 15rem;
}

.titulo-sobrenosotros {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 5rem;
}

.texto-sobrenosotros {
    margin-right: 10rem;
    margin-top: 10rem;
    font-size: 2rem;
    background-color: #EEEEEE;
    padding: 4rem;
    justify-content: flex-end;
}


/* footer */
footer {
    margin-top: 3%;
}

/* contacto */
.contenedor2 {
    width: min(90%, 120rem);
    margin: 0 auto;
}

.centrar-texto {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 2rem;
    font-family: var(--fuenteEnlaces);
    font-weight: bold;
}

.contacto-bg {
    background-image: url(../img/banner/banner.png);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: white;
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
    font-size: 1.5rem;
}

.campo__field {
    flex: 1;
    font-size: 1.5rem;
    border: 1px solid gray;
}

.campo__field--textarea {
    height: 20rem;
}

.contenedor2 {
    margin-bottom: -10rem;
}

.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2rem;
}
.correcto {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2rem;
}

/* CARRITO */
.icon-carrito {
    width:32px;
    height:32px;
    fill : white;
    transition-duration: 0s;
    
}

.icon-carrito:hover {
    fill: var(--colorNav);
    transition-duration: 0s;
    
}

/* REGISTRO */
